<html>
<head>
    <title>Codejam user search</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    {% load static %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    {% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <label for="search">Search user: </label>
        <input id="search" type="text" name="search">
        <input type="submit" value="go">
    </form>

<script>
    jQuery(function() {
    $("#search").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'ajax_autocomplete' %}",
            data: {
              'search': value
            },
            dataType: 'json',
            success: function (data) {
                list = data.list;
                $("#search").autocomplete({
                source: list,
                //minLength: 3
                });
            }
        });
    });
  });
  </script>

    {% if search != None %}

<b>{{ data|length }}</b> results found: <br>
<table>
    <tr><th>Round</th><th>Rank</th><th>Points</th><th>Time</th></tr>
    {% for result in data %}
    <tr>
        <td>{{ result.round.name }}</td>
        <td>{{ result.rank }}</td>
        <td>{{ result.points }}</td>
        <td>{{ result.time|format_time }}</td>
    </tr>
    {% endfor %}
    {% endif %}

    {% endblock %}
</table>
</body>
</html>
