{% extends 'base.html' %}
{% block content %}

<p>Identical replays don't necessarily mean an identical bot.
    At the same time different replays can still have the same underlying bot code.
    Watch the replays and draw your own conclusions.</p>

<form method="GET">
    <label for="game">Select a leaderboard: </label>
    <select id="game" name="game">
        {% for game in games %}
            <option value="{{game}}" {% if request.GET.game == game %}selected{% endif %}>{{game}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="go">
</form>

<br>
{% if game != None %}
{{game|title}} <br>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>User</th>
            <th>Score</th>
            <th>Language</th>
            <th>Last submit</th>
            <th>Replay</th>
            <th>Matches</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user|get_item:'rank'}}</td>
            <td>
                <img class="avatar"
                    src="https://static-aznet.codingame.com/servlet/fileservlet?id={{user|get_item:'codingamer'|get_item:'avatar'}}&format=navigation_avatar" />
                <a
                    href="?user={{user|get_item:'codingamer'|get_item:'userId'}}">{{user|get_item:'pseudo'}}</a>
            </td>
            <td>{{user|get_item:'score'}}</td>
            <td>{{user|get_item:'programmingLanguage'}}</td>
            <td>{{user|get_item:'creationTime'|get_time}}</td>
            <td>
                {% if botReplays|get_replay:user == None %}
                No replay yet
                {% else %}
                <a href="https://www.codingame.com/replay/{{ botReplays|get_replay:user }}">replay</a>
                {% endif %}
            </td>
            <td>{% for partner_id in replayGroups|get_matches:user %}
                {% with partner=users|get_user:partner_id %}
                {% if partner != None %}
                <a
                    href="https://www.codingame.com/replay/{{ botReplays|get_replay_by_id:partner_id }}">{{partner|get_item:'pseudo'}}</a>
                {% endif %}
                {% endwith %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if user != None %}
    {{bots|get_item:'username'}} <br>
    <table>
        <thead>
            <tr>
                <th>Game</th>
                <th>Replay</th>
                <th>Matches</th>
            </tr>
        </thead>
        <tbody>
            {% for g in user_matches %}
                {% for bot in user_matches|get_item:g %}
                    <tr>
                        <td>{{g}}</td>
                        <td>
                            <a href="https://www.codingame.com/replay/{{ bot|get_item:'bot' }}">replay</a>
                        </td>
                        <td>  
                            {% for p in bot|get_item:'partners' %}
                            <a href="https://www.codingame.com/replay/{{bot|get_item:'partners'|get_item:p}}">{{p}}</a>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}