<html>

<head>
    <title>CG Replay Reproduce</title>
    <style>
        h3 {display: inline;}
    </style>
</head>

<body>
    {% block content %}
    {% include "header.html" %}

    <form action="" method="post">
        {% csrf_token %}
        <label for="id">Replay ID: </label>
        <input id="id" type="text" name="id">
        <input type="submit" value="go">
    </form>

    {% if replay_id != None %}
    <iframe src="https://www.codingame.com/replay/{{replay_id}}" height="700" width="700"></iframe></br>
<pre>
{% for player,acts in actions %}
def player{{player}}():{% for a in acts %}
    print('{{ a|split_line }}'){% endfor %}

{% endfor %}
</pre>
    {% endif %}

    {% endblock %}
</body>

</html>
